/* ProductItem.css */

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    font-family: "Calibri", sans-serif; /* Set font to Calibri */
    padding: 16px;
  }
  
  .product {
    flex: 0 0 calc(50% - 20px);
    max-width: calc(50% - 20px);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tg-theme-secondary-bg-color);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .img img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .title {
    font-size: 18px;
    margin: 10px 0;
    text-align: center;
  }
  
  .add-btn {
    font-family: "Calibri", sans-serif; /* Set font to Calibri */
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .add-btn:focus {
    outline: none;
  }
  
  .add-btn:hover {
    background-color: lighten(var(--tg-theme-button-color), 10%);
  }
  
  .add-btn:active {
    background-color: var(--tg-theme-secondary-bg-color);
  }
  