.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: var(--tg-theme-bg-color);
}

h3 {
  font-family: "Calibri", Arial, sans-serif;
  font-size: 24px;
  color: var(--tg-theme-text-color);
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid var(--tg-theme-hint-color);
  border-radius: 5px;
  font-family: "Calibri", Arial, sans-serif;
  font-size: 16px;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
}

.input:focus {
  outline: none;
  border-color: var(--tg-theme-link-color);
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.select {
  padding: 10px;
  font-family: "Calibri", Arial, sans-serif;
  font-size: 16px;
  border: 1px solid var(--tg-theme-hint-color);
  border-radius: 5px;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
  width: 150px;
  text-align: center;
}

.select-container {
  display: flex;
  justify-content: space-between; /* Align items with space between them */
  align-items: center;
  margin-top: 15px;
}

.select-label {
  font-family: "Calibri", Arial, sans-serif;
  font-size: 16px;
  color: var(--tg-theme-text-color);
}

.label-and-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.label-and-select label {
  width: 150px; /* Set a fixed width for the label */
  font-family: "Calibri", Arial, sans-serif;
  font-size: 16px;
  color: var(--tg-theme-text-color);
}

.selection-buttons {
  display: flex;
  align-items: center;
}

.agreement {
  margin-top: 10px;
  font-family: "Calibri", Arial, sans-serif;
  font-size: 16px;
  color: var(--tg-theme-text-color);
}

.agreement input[type="checkbox"] {
  margin-right: 10px;
}

.agreement a {
  color: var(--tg-theme-link-color);
  text-decoration: none;
}

/* New styles for phone input */
.phone-input-container {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.phone-label {
  font-family: "Calibri", Arial, sans-serif;
  font-size: 16px;
  color: var(--tg-theme-text-color);
  margin-right: 10px;
}

.phone-input-group {
  display: flex;
  align-items: center;
}

.phone-prefix {
  font-family: "Calibri", Arial, sans-serif;
  font-size: 16px;
  color: var(--tg-theme-text-color);
}

.phone-input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--tg-theme-hint-color);
  border-radius: 5px;
  font-family: "Calibri", Arial, sans-serif;
  font-size: 16px;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color);
}

.name-input-container {
  position: relative;
}

.input {
  padding-right: 30px; /* Add some space to accommodate the counter */
}

.counter {
  position: absolute;
  top: 45%;
  right: 10px;
  opacity: 0.5;
}