/* OrderPage.css */
.order-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--tg-theme-secondary-bg-color); /* secondary background color */
    color: var(--tg-theme-text-color); /* text color */
    font-family: Arial, sans-serif;
}

.order-page h1 {
    color: var(--tg-theme-hint-color); /* hint color */
}

.order-page p {
    margin-bottom: 10px;
}

.order-page button {
    background-color: var(--tg-theme-button-color); /* button color */
    color: var(--tg-theme-button-text-color); /* button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.order-page button:hover {
    opacity: 0.8;
}

.order-page button:active {
    opacity: 0.6;
}
