/* Ozon.css */
body {
    background-color: var(--tg-theme-bg-color); /* background color */
    color: var(--tg-theme-text-color); /* text color */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: var(--tg-theme-hint-color); /* hint color */
}

a {
    color: var(--tg-theme-link-color); /* link color */
    text-decoration: none;
}

p {
    margin-bottom: 20px;
}

.button {
    background-color: var(--tg-theme-button-color); /* button color */
    color: var(--tg-theme-button-text-color); /* button text color */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

/* Custom styles for the Ozon component */
.andreyka-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--tg-theme-secondary-bg-color); /* secondary background color */
    padding: 20px;
}
