  .header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: var(--tg-theme-bg-color); /* Use the same button background color for the header */
    color: var(--tg-theme-button-text-color); /* Use the same button text color for the header */
    font-family: "Helvetica", Arial, sans-serif; /* Replace with your desired font */
    font-size: 18px; /* Replace with your desired font size */
    text-align: center;
  }
  
  .username {
    margin-left: auto;
    /* Add any additional styles you want for the username element */
  }
  