/* ProductItem.css */

.add-btn {
    font-family: "Calibri", sans-serif; /* Set font to Calibri */
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-btn:focus {
    outline: none;
  }
  
  .add-btn:hover {
    background-color: lighten(var(--tg-theme-button-color), 10%);
  }
  
  .add-btn:active {
    background-color: var(--tg-theme-secondary-bg-color);
  }
  